{% extends "twits/base.html" %}
 {% block companies %}
   <ul>
     {% for comp in companies %}
       <li><a href="{{ comp.get_absolute_url }}">{{ comp }} </a></li>
       {% if forloop.last %}
       <li><a href="/company-list">All Companies</a>
       {% endif %}
     {% endfor %}
   </ul>
 {% endblock companies %}
 
 {% block categories %}
  <ul>
  {% for cat in categories %}
   <li><a href="{{ cat.get_absolute_url}}"> {{ cat }} </a></li>
  {% endfor %}
  </ul>
 {% endblock %}
 
 {% block content %}
  {% for company in comps %}
   <div class="content"><p><a href="{{ company.get_absolute_url }}"> {{ company }} </a><br />{{ company.company_description }}</div>
  {% endfor %}
 {% endblock content %}
